<template>
  <div ref="canvasBox"></div>
</template>

<script>
// import buildings from '@/assets/data_buildings'
import CustomMaptalks from '@/utils/CustomMaptalks'
import Buildings from '@/common/effects/Buildings'
import OutLine from '@/common/effects/OutLine'
import { onMounted, ref } from 'vue'
import ConeJump from '@/common/effects/ConeJump'
import CircleAnimation from '@/common/effects/CircleAnimation'
import ElectricShield from '@/common/effects/ElectricShield'
export default {
  name: 'Home',
  setup (props, context) {
    const canvasBox = ref(null)
    onMounted(() => {
      const app = new CustomMaptalks(canvasBox.value, {
        showStats: true, // 是否显示左上角的状态
        showGui: true // 是否显示右上角的配置项
      })
      app.initMapTalks({
        // center: [13.414049129456203, 52.53160987202452]
      })
      app.initEffets([
        Buildings,
        OutLine,
        ConeJump,
        CircleAnimation,
        ElectricShield
      ])
    })
    return { canvasBox }
  }
}
</script>
<style class="scss" scoped>
div{
  width: 100vw;
  height: 100vh;
}
</style>
